.section{
    background: lightblue;
    height: 40vh;
    width: 80%;
    margin: auto;
}
.first{
    width: 120px;
    height: 120px;
    background: red;
    float: right;
}
.second{
    width:120px;
    height:120px;
    background: blue;
    float: left;
}
.third{
    width: 100%;
    height: 40vh;
    background: lightpink;
}
.third >img{
    width: 120px;
    float: right;
    border: 2px solid black;
    padding: 10px 10px;
    margin: 10px 10px;;
}
p{
    text-align: justify;
}
