form{
    width: 50%;
    margin: 0 auto;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px double black;
    background: #fef4a9;
}
#password,input[type=text]{
    width: 80%;
    padding: 3px 3px;
}
label, input{
    margin: 8px 10px;
}
legend{
    color: black;
    font-weight: bolder;
    font-size: 20px;
    background: black;
    color: white;
    padding: 3px 8px;
}
#section1{
    background: #78fee0;
    color: black; 
    margin: 20px 20px;
    
}
#section2{
    background: #4bc2c5;
    margin: 30px 20px;
}
#section3{
    background: #3b9a9c;
    margin: 30px 20px;
}

#submit{
    position: relative;
    left: 40%;
    padding: 8px 16px;
    font-weight: bold;
    border: 1px solid black;
    background: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
    cursor: pointer;

    
}
#comment{
    width: 100%;
    margin: auto;
}
video{
    width: 300px;
    height: 300px;
}

@media only screen and (max-width : 900px)
{
    form{
        background: #a03232;
    }
    #section1{
        background: #fffeb8;
    }
    #section2{
        background: #e6c073;
    }
    #section3{
        background: #c86f5e;
    }
}